<html>


<h1>Home Page</h1>

<Br>
    <Br><Br>
        
        
        <a href="table1/">Create TableA table in Google Datastore</a>

        <Br>
            <Br><Br>
                <a href="table2/">Create GoogleAds table in Google Datastore</a>
      
        
          <Br>
                    <Br><Br>
                        <a href="import/">Import Data to local TableA</a>
              
        
                <Br>
            <Br><Br>
                <a href="alter/">Add columns to GoogleAds table in Google Datastore</a>
       
        <Br>
            <Br><Br>
                <a href="update/">Update Metrics to GoogleAds table Google Datastore</a>
        

</html>